.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header>div{
    margin: 30px;
}
.button{
    background: #383838;
    color: snow;
    border-radius: 15px;
    padding: 7px;
    border: none;
    margin: 10px;
    width: 70px;
}
.wrapper{
    display: flex;
    justify-content: center;

}